### 3. Use the Jupyter Notebook with Python

In [17]:
# Import sqlite3 module
import sqlite3
import random

In [3]:
# Connect to the chinook database
db=sqlite3.connect("/Users/Vrinda Sharma/Documents/APAD/Assignments/Project-1/park-ut/db/UTPark.db")

In [12]:
cursor = db.cursor()
cursor.execute('''Select * from users''')
def fetchResult():
    all=cursor.fetchall()
    for pl in all:
        print(pl)
fetchResult()

(1, 'Vrinda', 'vrinda.sha@utexas.edu', 1)
(2, 'Catherine', 'cathy.morgan@utexas.edu', 0)
(3, 'Mac', 'macmiller@gmail.com', 0)
(4, 'Katie', 'Katie@gmail.com', 0)
(5, 'Abhi', 'Abhi@gmail.com', 0)

In [11]:
# Write a query to list the contents of the table media_types and execute it.
# TODO 
# Your code goes here.
cursor = db.cursor()
# Add new user-0/Admin=1

def addUser():
    insertsql = """INSERT INTO users(Name,Email,Admin) VALUES ('Abhi', 'Abhi@gmail.com', 0)"""
    try:
# Execute the SQL command
        cursor.execute(insertsql)
# Commit your changes in the database
        db.commit()
    except:
# Rollback in case there is any error
        db.rollback()
        db.commit()

addUser()
db.commit()

In [13]:
def addGarages():
    insertsql = """INSERT INTO garages(Name,Address) VALUES ('Guadulupe', 'Guadulupe street')"""
    try:
# Execute the SQL command
        cursor.execute(insertsql)
# Commit your changes in the database
        db.commit()
    except:
# Rollback in case there is any error
        db.rollback()
        db.commit()

addGarages()
db.commit()

In [19]:
def genSpot():
    return random.randint(1,10000)

def addSpots():
    insertsql = """INSERT INTO spots(GarageId,Level,Number) VALUES ('2', '1',{})""".format(genSpot())
    try:
# Execute the SQL command
        cursor.execute(insertsql)
# Commit your changes in the database
        db.commit()
    except:
# Rollback in case there is any error
        db.rollback()
        db.commit()

addSpots()
db.commit()

In [15]:
cursor.execute("""Select count(*) from garages""")
fetchResult()
db.commit()

(3,)

In [20]:
cursor.execute("""Select count(*) from spots""")
fetchResult()
db.commit()

(2,)

In [15]:
db.close()